:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #C7C7C7;
  --text-input-field: #F7F7F7;
  --rojo: #E5252E;
  --sm: 14px;
  --md: 16px;
  --lg: 18px;
  --card-size: 240px;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

.input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  background-color: var(--rojo);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.email-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: var(--text-input-field);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 24px;
}

.email-image img {
  width: 80px;
  height: 80px;
}

.resend-text {
  font-size: var(--sm);
  color: var(--very-light-pink);
  text-align: center;
  margin: 0;
}

.resend-text span {
  color: var(--rojo);
  font-weight: bold;
  cursor: pointer;
}

.form-container > span {
  font-size: var(--sm);
  color: var(--rojo);
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  font-weight: 500;
  display: block;
}

.value {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin: 8px 0 0 0;
  padding: 0 0 28px 0;
}

.edit-button {
  background-color: var(--white);
  border: 1px solid var(--rojo);
  color: var(--rojo);
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  margin-top: auto;
  margin-bottom: 24px;
}


.main-container {
  width: 100%;
  padding: 20px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--card-size));
  gap: 26px;
  place-content: center;
}

.product-card {
  width: var(--card-size);
}

.product-card img {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 20px;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img {
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2) {
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}


.desktop-menu {
  width: 140px;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
}

.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu ul li {
  text-align: end;
}

.desktop-menu ul li:not(:last-child) {
  font-weight: bold;
}

.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a {
  color: var(--black);
  font-size: var(--sm);
}

.desktop-menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}


.mobile-menu {
  padding: 24px;
}

.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}

.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li {
  margin-bottom: 24px;
}

.mobile-menu ul li a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.mobile-menu .email {
  font-size: var(--sm);
  font-weight: 300;
}

.mobile-menu .sign-out {
  color: var(--black);
  font-size: var(--sm);
}



@media (max-width: 640px) {
  .logo {
    display: block;
  }

  .form-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .form {
    flex: 0;
  }

  .login-button {
    margin-top: auto;
    margin-bottom: 24px;
  }

  
  :root {
    --card-size: 140px;
  }
}