<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda - Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <section class="main-container">
        <div class="cards-container">

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2875814/pexels-photo-2875814.jpeg" alt="Banano">
                <div class="product-info">
                    <div>
                        <p>$ 20.000</p>
                        <p>Banano</p>
                    </div>
                    <figure>
                        <img src=".../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1132047/pexels-photo-1132047.jpeg" alt="Manzanas">
                <div class="product-info">
                    <div>
                        <p>$ 15.000</p>
                        <p>Manzanas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1435904/pexels-photo-1435904.jpeg" alt="Naranjas">
                <div class="product-info">
                    <div>
                        <p>$ 18.000</p>
                        <p>Naranjas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1092730/pexels-photo-1092730.jpeg" alt="Fresas">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Fresas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/161559/background-bitter-breakfast-bright-161559.jpeg" alt="Limones">
                <div class="product-info">
                    <div>
                        <p>$ 12.000</p>
                        <p>Limones</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2294471/pexels-photo-2294471.jpeg" alt="Uvas">
                <div class="product-info">
                    <div>
                        <p>$ 22.000</p>
                        <p>Uvas</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/5945848/pexels-photo-5945848.jpeg" alt="Pera">
                <div class="product-info">
                    <div>
                        <p>$ 16.000</p>
                        <p>Pera</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2363345/pexels-photo-2363345.jpeg" alt="Sandía">
                <div class="product-info">
                    <div>
                        <p>$ 30.000</p>
                        <p>Sandía</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2469772/pexels-photo-2469772.jpeg" alt="Piña">
                <div class="product-info">
                    <div>
                        <p>$ 28.000</p>
                        <p>Piña</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/54369/pexels-photo-54369.jpeg" alt="Kiwi">
                <div class="product-info">
                    <div>
                        <p>$ 35.000</p>
                        <p>Kiwi</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1153655/pexels-photo-1153655.jpeg" alt="Aguacate">
                <div class="product-info">
                    <div>
                        <p>$ 40.000</p>
                        <p>Aguacate</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2329440/pexels-photo-2329440.jpeg" alt="Mango">
                <div class="product-info">
                    <div>
                        <p>$ 24.000</p>
                        <p>Mango</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="carrito">
                    </figure>
                </div>
            </div>

        </div>
    </section>
</body>
</html>
